<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="top.css">
    <title>国産自動二輪カタログ</title>
  </head>
  <body>
    <h1>国産自動二輪カタログ</h1>
    <h2>処理メニュー</h2>
    <p>処理を選択してください</p>

    <table>
      <tr><td><a href="list.html.erb">車種の表示</a></td></tr>
      <tr><td><a href="entry.erb">車種の登録</a></td></tr>
      <tr><td><a href="retrieve.erb">車種の検索</a></td></tr>
      <tr><td>車種データの修正（表示・検索をしてから）</td></tr>
      <tr><td>車種データの削除（表示・検索をしてから）</td></tr>
    </table>
  </body>
</html>