<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->
<!--<script type="text/javascript">-->
<!--$(function(){-->
<!--  $("#toggle").click(function(){-->
<!--    $("#menu").slideToggle();-->
<!--    return false;-->
<!--  });-->
<!--  $(window).resize(function(){-->
<!--    var win = $(window).width();-->
<!--    var p = 480;-->
<!--    if(win > p){-->
<!--      $("#menu").show();-->
<!--    } else {-->
<!--      $("#menu").hide();-->
<!--    }-->
<!--  });-->
<!--});-->
<!--</script>-->

<!--<nav id="menu-box">-->
<!--<div id="toggle"><a href="#">MENU</a></div>-->
<!--	<ul id="menu" class="">-->
<!--		<li><a href="#">Navi1</a></li>-->
<!--		<li><a href="#">Navi2</a></li>-->
<!--		<li><a href="#">Navi3</a></li>-->
<!--		<li><a href="#">Navi4</a></li>-->
<!--		<li><a href="#">Navi5</a></li>-->
<!--		<li><a href="#">Navi6</a></li>-->
<!--		<li><a href="#">Navi7</a></li>-->
<!--		<li><a href="#">Navi8</a></li>-->
<!--	</ul>-->
<!--</nav>-->
<script>
$(function() {
    function accordion() {
        $(this).toggleClass("active").next().slideToggle(300);
    }
    $(".accordion .toggle").click(accordion);
});
</script>
<div class="accordion">
  <ul>
    <li>
      <a class="toggle">メニュータイトル1</a>
      <ul>
        <li><%= link_to 'トップページ', top_test_path %></li>
        <li><a href="#">テスト1-2</a></li>
        <li><a href="#">テスト1-3</a></li>
        <li><a href="#">テスト1-4</a></li>
      </ul>
    </li>
   </ul>
</div>
    