  <tr class="tokusyu">
  <td><%= tokusyu.date%></td>
  </tr>
  <tr class="tokusyu">
  <td><%= tokusyu.title%></td>
  </tr>
  <tr class="tokusyu">
  <td><%= tokusyu.comment%></td>
  </tr>
  <tr class="tokusyu">
  <td><button class="button1" type="submit"><%= link_to "詳細はこちら", tokusyu.url, :style=>"color:white;" %></button></td>
  </tr>