<h1>カテゴリ検索</h1>
<table style="overflow:hidden;">
    <tr>
        <td>
            <%= link_to users_search_path(:para =>'ラーメン') do%>
            <button>ラーメン</button>
            <% end %>
        </td>
        <td>
            <%= link_to users_search_path(:para =>'居酒屋') do%>
            <button>居酒屋</button>
            <% end %>
        </td>
        <td>
            <%= link_to users_search_path(:para =>'定食') do%>
            <button>定食</button>
            <% end %>
        </td>
        <td>
            <%= link_to users_search_path(:para =>'カフェ') do%>
            <button>カフェ</button>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
    </tr>
</table>