<head>
<!-- jQueryを読み込む -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="css/lightbox.css">
</head>
<body>
<% buf2 = @user.menuphoto.split(",")%>
<% buf3 = @user.menutext.split(",")%>
<% length = buf2.length %>
<table width="80%" align="center">
    <div align="center"><font size="6" color ="black"><b><u>全メニュー</u></b></font></div>
    <% all_photo_counter = 0 %>
    <% five_photo_counter = 0 %>
    <% all_text_counter = 0 %>
    <% five_text_counter = 0 %>
    <%# メニュー写真 %>
    <% buf2.each do |photo| %>
        <% if all_photo_counter == 0 %>
            <tr>
        <%# 写真を５個表示したら文章を表示する %>
        <% elsif five_photo_counter%5 == 0 %>
            </tr>
            <tr>
                <% buf3.each do |text| %>
                    <td width="20%">
                        <div align="center"><font size="5"><%= text %></font></div>
                    </td>
                    <% all_text_counter = all_text_counter + 1 %>
                    <% five_text_counter = five_text_counter + 1 %>
                    <% if five_text_counter == 5 %>
                        <% five_text_counter = 0 %>
                        <% break %>
                    <% end %>
                <% end %>
            </tr>
            <tr>
        <% end %>
        <%# 写真の表示 %>
        <td width="20%">
            <%= link_to image_tag(photo), photo, :'data-lightbox' => "image" %>
            <br>
        </td>
        <% all_photo_counter = all_photo_counter + 1 %>
        <% five_photo_counter = five_photo_counter + 1 %>
        <% if five_photo_counter == 5 then%>
            <% five_photo_counter = 0 %>
        <% end %>
        <% if all_photo_counter == length then%>
            <% x = 5 - five_photo_counter %>
            <% x.times do |s| %>
                <td width="20%">
                </td>
            <% end %>
            </tr>
            <% buf3.each do |text| %>
                <% if five_text_counter >= all_text_counter %>
                    <% if five_text_counter == all_text_counter %>
                        <tr>
                    <% end %>
                    <td width="20%">
                        <div align="center"><font size="5"><%= text %></font></div>
                    </td>
                    <% five_text_counter = five_text_counter + 1 %>
                <% else %>
                    <% five_text_counter = five_text_counter + 1 %>
                <% end %>            
            <% end %>
            <% x.times do |s| %>
                <td width="20%">
                </td>
            <% end %>
        <% end %>
    <% end %>
    </tr>
</table>
<script src="js/lightbox.js"></script>
</body>