<table width="80%" border="1" align="center">
    <tr>
        <td style="border-style:none;">
            <h1><u>グルメサイト「ぐるグル歩き」とは</u></h1>
            <font size="4">
                <p>
                    「ぐるグル歩き」とは、私たちの学生団体ITLBEが運営する地域密着型のグルメ情報サイトです。<br>
                    地域の身近な人の、<br>
                    「お店のタイムリーな情報を早く知りたい」、「意外と知らないお店の新発見をしたい」<br>
                    といったような悩みを解決し、利用者に外食を通して幸せになってもらうことを目的として運営しています。
                </p>
            </font>
        </td>
    </tr>
</table>