<table width="80%" border="1" align="center">
    <tr>
        <td style="border-style:none;">
            <h1><u>学生団体ITLBEとは</u></h1>
            <font size="4">
                <p>
                    私たち学生団体ITLBEは「あったらいいなを形に」という理念を基に、人々にあったらいいなと思うモノを提供する団体です。<br>
                    エンジニアの力を使って人々を幸せにすることを目的として活動しています。<br>
                    私たちは2016年11月に発足しました。<br>
                    現在は、主にグルメアプリ「ぐるグル歩き」の運営を行っています。
                </p>
                <p>＊団体名ITLBEの由来<br>
                        「あったらいいな」の英訳"It will be ~"のI,T,L,B,Eを形どったものが私たちの団体名の由来です。
                </p>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-style:none;">
            <font size="4">
            <fieldset>
                <legend><font size="5"><b><u>メンバー</u></b></font></legend>
                <p>私たち学生団体ITLBEは新潟大学工学部情報工学科所属の4人で活動を行っています。<br><br>
                <u>大竹将司</u>    <u>鍋田啓介</u>    <u>勝木啓介</u>    <u>山口諒</u>
            </fieldset>
            </font>
        </td>
    </tr>
</table>