 <% @shintyaku.each do |shintyaku| %>
                    <tr>
                        <td style="font-size: 30px;" ><%= shintyaku.shopname%></td>
                    </tr>
                    <tr>
                        <td width="100" style="font-size: 20px;"> <%= shintyaku.comment%></td>
                    </tr>
                <% end %>