/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.buttontop {
font-size: 1.4em;
font-weight: bold;
margin-left: auto;
margin-right: auto;
padding: 10px 30px;
color: #fff;
border: none;
background-color: darkred;
}
/*.button1は項目ボタンのデザインのclass*/
.button1 {
font-size: 1.4em;
font-weight: bold;
padding: 10px 30px;
color: #fff;
margin: 0 auto;
border:1px solid black;
background-color: red;
}
/*項目ボタンにマウスカーソルが重なった時のしょり(オレンジ色に変わる)*/
.button1:hover {
	background-color: orange;
}
/*項目ボタンの表示位置を指定する*/
.posbuttom{
    text-align:center;
    margin:　0 auto;
}
/*背景色を指定する*/
body{
    background-color:  cornsilk;
}
a {
text-decoration: none;
}