/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 
@media screen and (min-width: 768px) {
 #menu {
	/*width: 100%;*/
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}
#menu li{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
}

#menu li a{
	display: block;
	padding: 20px 0 20px;
	background-color: white;
	color: black;
	text-align: center;
	text-decoration: none;
	border:none;
	overflow: hidden;
	z-index: 2;
	-webkit-transition: all .5s;
	transition: all .5s;
}
#menu li a:before,
#menu li a:after {
	display: block;
	content: '';
}
#menu li a:after{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}
#menu li:last-child a{
	border: none;
}
#menu li a:hover{
	background: Gainsboro;
}
#menu li a:hover:after{
	background: Gainsboro;
	-webkit-transform: scale(1);
	transform: scale(1);
}
#toggle {
	display: none;
}
 .daimeipos{
     text-align:center;
 }
.buttontop {
font-size: 1.4em;
font-weight: bold;
margin-left: auto;
margin-right: auto;
padding: 10px 30px;
color: #fff;
border: none;
background-color: white;
}
/*.button1は項目ボタンのデザインのclass*/
.button1 {
font-size: 1.4em;
font-weight: bold;
padding: 10px 30px;
color: #fff;
margin: 0 auto;
border:none;
background-color: orange;
}
/*項目ボタンにマウスカーソルが重なった時のしょり(オレンジ色に変わる)*/
.button1:hover {
	background-color: red;
}
/*項目ボタンの表示位置を指定する*/
.posbuttom{
   text-align: center;
   font-size: 0;
}

.posbuttom li{
    display: inline-block;
    font-size: 25px;
}
.contents {
background-color:black;
}

.textfont{
	 font-family: Meiryo UI;
	 font-size: medium;
}

/*背景色を指定する*/
body{
    background-color: white;
}
a{
	color:red;
}
/*a.button1{*/
/*text-decoration: none;*/
/*color: white;*/
/*}*/
}
@media only screen and (max-width: 768px) {
	#menu li {
		width: 25%;
		border:none;
	}
}


/*スマホ向けページのcss*/
@media (max-width: 500px) {
#menu {
	width: 100%;
	display: none;
	}
	#menu li {
		width: 100%;
		border-bottom: 1px solid white;
	}
	#menu li a{
		padding: 12px 0 10px;
	}
	#toggle {
		display: block;
		position: relative;
		width: 100%;
		background: black;
	}
	#toggle a{
		display: block;
		position: relative;
		padding: 12px 0 10px;
		border-bottom: 1px solid white;
		color:#FFF;
		text-align: center;
		text-decoration: none;
	}
	#toggle:before {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 10px;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		background: #FFF;
	}
	#toggle a:before, #toggle a:after {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 10px;
		width: 20px;
		height: 4px;
		background: black;
	}
	#toggle a:before {
		margin-top:-6px;
	}
	#toggle a:after {
		margin-top: 2px;
	}
.daimeipos{
     text-align:center;
 }
.buttontop {
font-size: 1.4em;
font-weight: bold;
margin-left: auto;
margin-right: auto;
padding: 10px 30px;
color: #fff;
border: none;
background-color: white;
}
/*.button1は項目ボタンのデザインのclass*/
.button1{
font-size: 1.4em;
font-weight: bold;
padding: 10px 30px;
color: #fff;
margin: 0 auto;
border:none;
background-color: orange;
}
/*項目ボタンにマウスカーソルが重なった時のしょり(オレンジ色に変わる)*/
.button1:hover{
 background-color: red;
}
.posbuttom{
    margin-left: auto;
    margin-right: auto;
}
/*項目ボタンの表示位置を指定する*/
div.posbuttom ul li{
    display: inline-block;
}

/*背景色を指定する*/
body{
    background-color: white;
}
a {
color: red;
}
.textfont{
	 font-family: Meiryo UI;
	 font-size: small;
}

}   