/*タイルのデザインを生成するclass*/
/*スマホ用*/
@media screen and (max-width: 500px) {
 .image_sp {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 100px;
 }
 
  .catalog_box_out_sp {
  max-width: 250px;
  vertical-align: top;
  }
  
  .catalog_box_in_sp {
    max-width: 100%;
    display: inline-block;
  }
  
  .catalog_box_in_sp img {
    width: 100%;
    height: 150px;
    border-radius: 40%;
  }
  
  .catalog_box_in td{
  vertical-align:middle; 
  text-align:center;
  }
}


/*ＰＣ用*/
.image {
  width: 100%;
  height: 200px;
  margin-bottom: 65px;
  text-align: center;
  border-radius: 200px;
}

.image:hover {
    filter:alpha(opacity=80);
    opacity:0.8;
}

.catalog_box_out {
  max-width: 250px;
  vertical-align: top;
}

.catalog_box_in {
  max-width: 100%;
  display: inline-block;
}
.catalog_box_in img{
   width: 350px;
   height: 250px;
   border-radius: 10%;
}
.catalog_box_in td{
vertical-align:middle; 
}
