/*タイルのデザインを生成するclass*/
.Tile
 {
 position: relative;
 height: 200px;
 width: 200px;
 margin: 3px;
 float: left;
 border: none;
   }
   .Tile:hover {
    filter:alpha(opacity=80);
    opacity:0.8;
}
/*タイルのなかの文字の大きさや表示位置,書体などを指定するclass*/
 .TileContents
 {
 position: absolute;
 bottom: 0;
 left: 10px;
 font-family: Meiryo UI;
 font-size: 16pt;
 color: White;
 }
 .posimage{
  position: absolute;
 }
     /*tableの位置を指定(たぶん意味ないから消す予定)*/       
.postable{
    position: relative;
    margin:　0 auto; 
}
/*div囲まれた要素を*/
.box {
	display: inline;
	font-family: Meiryo UI;
}

.search{
  margin-right: 10px;
}

.search table{
 width: 380px;
 height: 300px;
}

.toku {
 margin-left: 10px;
}

fieldset {
 border-radius: 15px;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
}

.toku table{
 width: 580px;
 height: 300px;
}
.boxContainer {
 font-family: Meiryo UI;
 height: 70%;
 margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	-moz-flex-direction: row;
	-o-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	/* 長くなるのでベンダープレフィックスの記述は省略 */
}
.TLmargin {
	margin-top: 20px; 
}
 .daimeipos{
     text-align:center;
 }
.scr {
  overflow: scroll;   /* スクロール表示 */ 
  width: 1000px;
  height: 640px;
}

.textfont{
	 font-family: Meiryo UI;
	}

.posimage img{
 width: 200px;
 height: 200px;
 border-radius: 20px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
}

@media screen and (max-width: 480px) {
 /*タイルのデザインを生成するclass*/
.Tile
 {
 position: relative;
 height: 160px;
 width: 157px;
 float: left;
 margin: 0px;
   }
   .Tile:hover {
    filter:alpha(opacity=80);
    opacity:0.8;
}
/*タイルのなかの文字の大きさや表示位置,書体などを指定するclass*/
 .TileContents
 {
position: absolute;
 bottom: 0;
 left: 0;
 font-family: Meiryo UI;
 font-size: 16pt;
 color: White;
 }
 .posimage{
  position: absolute;
 }
     /*tableの位置を指定(たぶん意味ないから消す予定)*/       
.postable{
    position: relative;
    margin:　0 auto; 
}
/*div囲まれた要素を*/
.boxContainer {
 display: flex;
	flex-direction: column-reverse;
	align-content: stretch;
	/*-moz-flex-direction: row;*/
	/*-o-flex-direction: row;*/
	/*-webkit-flex-direction: row;*/
	/*-ms-flex-direction: row;*/
	 /*長くなるのでベンダープレフィックスの記述は省略 */
}
.box table{
 width: 325px;
 height: 160px;
 border-spacing: 0px;
}
.toku table{
 width: 100%; 
}
.TLmargin {
	margin-top: 20px; 
}
 .daimeipos{
     text-align:center;
 }
.scr {
  overflow: scroll;   /* スクロール表示 */ 
  width: 1000px;
  height: 640px;
}
.posimage img{
 width: 160px;
height: 160px;
}
}