/*PC用*/
.haikei
 {
     width: 100%;
     height: 500px;
}
   .haikei:hover {
    filter:alpha(opacity=80);
    opacity:0.8;
}

.table_box {
    display: inline-block;
    width: 100%;
    height: 300px;
}

    .table_box:hover{
        filter:alpha(opacity=80);
        opacity:0.8; 
}
/*スマホ用*/
@media screen and (max-width: 500px) {
    .haikei{
        width: 100%;
        height: 300px;
    }
    
    .haikei img {
        width: 100%;
        height: 300px;
    }
   
    .table_box {
        display: inline-block;
        width: 100%;
        height: 250px;
    }
    
    .table_box img {
        width: 100%;
        height: 250px;
    }
}